a{
    color:blue;
}
a:hover{
    background-color: red;
}
a:active{
    background-color: green;
}
    body {
        font-family: Arial, sans-serif;
        margin: 20px;
    }
    h1 {
        font-family: Arial, sans-serif;
    }
    p {
        font-size: 1.2rem;
        line-height: 1.6;
        text-align: justify;
    }
